{
  "global": {
    "mimeFile": "/opt/roxy/share/misc/mime.json",
    "storage": {
      "engine": "fs",
      "path": "/var/opt/roxy/lib/acme"
    }
  },
  "hosts": [
    "*.example.com"
  ],
  "mimeRules": [],
  "targets": {},
  "rules": [
    {
      "target": "ERROR:404"
    }
  ]
}
