[Unit]
Description=Roxy the Frontend Proxy
After=network.target

[Service]
Type=notify
NotifyAccess=main
ExecStart=/opt/roxy/bin/roxy -l /var/opt/roxy/log/roxy.json -c /etc/opt/roxy/config.json
ExecReload=/opt/roxy/bin/roxyctl reload
ExecStop=/opt/roxy/bin/roxyctl shutdown
Restart=always
User=roxy
Group=roxy
UMask=022

[Install]
WantedBy=multi-user.target

; vim:set filetype=systemd:
